@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body{
    display: flex;
    flex-direction: column;
    flex:1;

    font-family: Roboto, sans-serif;
}

.header,
.presentation,
.footer{
    background-color: #1F2937;
    color: #F9FAF8;
}

.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    
    padding: 5px 100px;
}

.header-logo-text{
    font-weight: 900;
    font-size: 24px;
}
ul{
    display: flex;
    gap: 30px;
    list-style: none;
}
a{
    text-decoration: none;
    color: #E5E7EB;
    font-size: 18px;
}

.presentation{
    display: flex;
    flex-direction: row;
 
    justify-content: center;

    padding: 50px 100px;
    gap: 20px;
}

.presentation-text{
    display: flex;
    flex-direction: column;

    width: 700px;
    height: 200px;
    margin: 10px;
}

.hero-main-text{
    font-size: 48px;
    font-weight: bolder;
}
.hero-secondary-text{
    font-size: 18px;
    color: #E5E7EB;
}
.button-sign-up{
    background-color: #3882F6;
    color: #E5E7EB;
    font-size: 18px;
    font-weight: bolder;

    display: flex;
    width: fit-content;

    margin: 10px 0px;
    padding: 5px 10px;   
    border-radius: 8px;
}
.presentation-image{
    background-color: grey;
    color: #E5E7EB;
    font-size: 18px;

    display: flex;
    align-items: center;
    justify-content: center;

    width: 700px;
    height: 200px;

    margin: 5px;
}

.random-information{    
    display: flex;
    flex-direction: column;

    padding: 50px 100px;

}
.information-header{
    display: flex;
    justify-content: center;
    padding: 30px;
    
    font-size: 36px;
    font-weight: bolder;

    color: #1F2937;
}
.card-container{
    display: flex;
    flex-direction: row;

    justify-content: center;
    gap: 30px ; 
}
.card{
    width: 200px;

}
.box{
    border:4px solid #5c89d2;
    border-radius: 15px;

    width: 200px;
    height: 200px;
}
.card-text{
    display: flex;
    justify-content: center;
    text-align: center;

    padding: 8px;

    color: #545558;
    font-size: 18px;
}
.quote-section{
    background-color: #E5E7EB;
    padding: 50px 200px;
}
.quote-text{
    color: #5f6163;
    font-style: italic;
    font-weight: lighter;
    font-size: 36px;
}
.quote-author{
    display: flex;
    justify-content: right;

    list-style: "- ";
    color: black;
    font-weight: bold;
}
.call-to-action-container{
    background-color: #3882F6;
    color:#E5E7EB;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    
    padding: 30px 100px;
    border-radius: 10px;
    margin: 10px 150px;
    gap: 30px;
}
.call-to-action-title{
    font-size: 18px;
    font-weight: bold;
}
.call-to-action-text{
    font-size: 15px;
}

.footer{
    height: 50px;

    display: flex;
    justify-content: center;
    align-items: center;
}